
<div class="jumbotron mt-4">
  <h1 class="display-4">Bienvenido al Hombre mas rico de Babilonia</h1>
  <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=6byMkV71YDU" role="button">HAY QUE ENTREGAR EL TRABAJO!</a>
</div>